<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>Incoporated Trustees</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="assets/img/favicon.png" rel="icon">
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
          .alert p {
            text-align: center;
          }
          
          .app-header__logo {
              font-weight: 900;
              font-size: 27px;
              font-family: Roboto;
              background-color: #283747;
          }
          .app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
              background-color:#5D6D7E;
          }
          .app-header{
              background-color:  #34495E;
          }
          .app-menu__item:hover{
              background-color: #808B96;
          }
          .app-menu__item:focus{
              background-color: #808B96;
          }
          .app-menu__item.active{
              background-color: #566573!important;
          }
          .app-sidebar{
              background-color: #34495E;
          }
          .treeview.is-expanded [data-toggle='treeview']{
              background:   #AEB6BF;
          }
          .treeview-item {
              background:  #555555;
              padding-left: 60px;
          }
          .treeview-item:hover {
              background-color: #808B96;
          }
      </style>
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="/">deLAW</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="/deLawProfile"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="/deLawProfile"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><i class="fa fa-lg fa-fw fa-user"></i>
            <div>
                <p class="app-sidebar__user-name">USER</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item active" href="/dashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Corporate Registrations</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/business"> Business Name</a></li>
                    <li><a class="treeview-item" href="/company"> Company(LTD)</a></li>
                    <li><a class="treeview-item" href="/incorporate"> Incorporated Trustees (NGO)</a></li>
                </ul>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-pencil"></i><span class="app-menu__label"> Will and Letter </span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/will"> Will and Testament</a></li>
                    <li><a class="treeview-item" href="/letter"> Letter of Administration</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="/payment" ><i class="app-menu__icon fa fa-dollar"></i><span class="app-menu__label">Payments</span></a>
            </li>
            </li>
            <li class="treeview"><a class="app-menu__item" href="/logout" ><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">logout</span></a>
            </li>
        </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Incorporated Trustees(NGOs)</h1>
          <p>Provide the information below appropriately</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item" href="/dashboard"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Corporate Registration</li>
          <li class="breadcrumb-item"><a href="#">Incorporated Trustees</a></li>
        </ul>
      </div>
      <div class="container-fluid">
        <% if(message && message.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= message %></p>
        </div>
        <% } %>
        <% if(logout && logout.length > 0) { %>
        <div class="alert alert-warning" role="alert">
              <p><%= logout %>. Thank you for visiting our site</p>
        </div>
        <% } %>
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
              <p><%= success %></p>
        </div>
        <% } %>
      </div>
        <form action="/incorporate" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="row">
                <form>
                 <div class="col-lg-12">
                  <div class="form-group">
                      <h2>Fill in the details of your Organization below</h2>
                    <label for="businessname"> What is your Organization's Name?</label>
                    <input class="form-control" id="businessname" type="text" aria-describedby="emailHelp" name="incorporate[name]"
                           placeholder="Enter your organization's Name"><small class="form-text text-muted" id="emailHelp"></small>
                  </div>
                  <div class="form-group">
                    <label for="objective"> What is the nature of your Organization?</label>
                    <input class="form-control" id="objective" type="text" placeholder="e.g. real-estate" required="" name="incorporate[nature]">
                  </div>
                    <div class="form-group">
                    <label for="address"> Where is the address of your Oraganization?</label>
                      <input class="form-control" id="address" type="text"
                             placeholder="e.g. suite 20,lion plaza,bernard street,bodja" required="" name="incorporate[address]">
                  </div>
                     <div class="form-group">
                         <label for="financing"> What is the your mode of financing?</label>
                         <input class="form-control" id="financing" type="text" placeholder="e.g. donations" required="" name="incorporate[mode]">
                     </div>

                 </div>
        </div>
      </div>
    </main>


    <!--directors and appointment of company registration begin-->

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-edit"></i> Trustee's INFO </h1>
                <p>Provide the information below appropriately</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item" href="/dashboard"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Corporate Registration</li>
                <li class="breadcrumb-item"><a href="#">Incorporated Trustees</a></li>
            </ul>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="row">
                            <form>
                                <div class="col-lg-12">
                                    <h2>Trustee's Info</h2>
                                    <h6>Fill in the details below</h6>
                                <div class="form-group">
                                        <label for="businessname">Trustee's Name</label>
                                        <input class="form-control" id="businessname" type="text" aria-describedby="emailHelp" name="trustee[name]"
                                               placeholder="e.g. chris"><small class="form-text text-muted" id="emailHelp"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" >Select Gender </label>
                                        <select class=" form-control" id="gender" name="trustee[gender]">
                                            <option>Gender</option>
                                            <option value="male" >Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Nationality </label>
                                        <input class="form-control" id="address" type="text" name="trustee[nationality]"
                                               placeholder="e.g. Nigerian" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Address</label>
                                        <input class="form-control" id="address" type="text" name="trustee[address]"
                                               placeholder="e.g. suite 20,lion plaza,bernard street,bodja" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Date of Birth </label>
                                        <input class="form-control" id="address" type="text" name="trustee[date]"
                                               placeholder="e.g. 09/12/1900" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="e-mail">E-mail</label>
                                        <input class="form-control" type="email" id="e-mail" placeholder="e.g queens@gmail.com" required="" name="trustee[email]">  
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNo">Phone number</label>
                                        <input class="form-control" type="tel" id="phoneNo" required="" name="trustee[phone]" >
                                    </div>
                                    <div class="form-group">
                                        <label for="valid id" >Select ID </label>
                                        <select class=" form-control" id="valid id" name="trustee[idType]">
                                            <option>Select</option>
                                            <option value="National ID">National ID</option>
                                            <option value="International Passport">International Passport</option>
                                            <option value="Driver's License">Driver's License</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload ID</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload Passport Photograph</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>
                                    </div>


                    </div>
                </div>
            </div>
    </main>


    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-edit"></i> Chairman's and Secretary's INFO </h1>
                <p>Provide the information below appropriately</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item" href="/dashboard"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Corporate Registration</li>
                <li class="breadcrumb-item"><a href="#">Incorporated Trustees</a></li>
            </ul>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="row">
                            <form>
                                <div class="col-lg-6">
                                    <h2>Chairman's Info</h2>
                                    <h6>Fill in the details below</h6>
                                    <div class="form-group">
                                        <label for="businessname">Chaiman's Name</label>
                                        <input class="form-control" id="businessname" type="text" aria-describedby="emailHelp" name="chairman[name]"
                                               placeholder="e.g. chris"><small class="form-text text-muted" id="emailHelp"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" >Select Gender </label>
                                        <select class=" form-control" id="gender" name="chairman[gender]">
                                            <option>Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Nationality </label>
                                        <input class="form-control" id="address" type="text" name="chairman[nationality]"
                                               placeholder="e.g. Nigerian" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Address</label>
                                        <input class="form-control" id="address" type="text" name="chairman[address]"
                                               placeholder="e.g. suite 20,lion plaza,bernard street,bodja" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Date of Birth </label>
                                        <input class="form-control" id="address" type="text" name="chairman[date]"
                                               placeholder="e.g. 09/12/1900" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="e-mail">E-mail</label>
                                        <input class="form-control" type="email" id="e-mail" placeholder="e.g queens@gmail.com" required="" name="chairman[email]">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNo">Phone number</label>
                                        <input class="form-control" type="tel" id="phoneNo" required="" name="chairman[phone]" >
                                    </div>
                                    <div class="form-group">
                                        <label for="valid id" >Select ID </label>
                                        <select class=" form-control" id="valid id" name="chairman[idType]">
                                            <option>Select</option>
                                            <option value="National ID">National ID</option>
                                            <option value="International Passport">International Passport</option>
                                            <option value="Driver's License">Driver's License</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload ID</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload Passport Photograph</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h2>Secretary'S INFO</h2>
                                    <h6>Fill in your details below</h6>
                                    <div class="form-group">
                                        <label for="businessname">Secretary Name</label>
                                        <input class="form-control" id="businessname" type="text" aria-describedby="emailHelp" name="secretary[name]"
                                               placeholder="e.g. chris"><small class="form-text text-muted" id="emailHelp"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" >Select Gender </label>
                                        <select class=" form-control" id="gender" name="secretary[gender]">
                                            <option>Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Nationality </label>
                                        <input class="form-control" id="address" type="text" name="secretary[nationality]"
                                               placeholder="e.g. Nigerian" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input class="form-control" id="address" type="text" name="secretary[address]"
                                               placeholder="e.g. suite 20,lion plaza,bernard street,bodja" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="address"> Date of Birth </label>
                                        <input class="form-control" id="address" type="text" name="secretary[date]"
                                               placeholder="e.g. 09/12/1900" required="">
                                    </div>

                                    <div class="form-group">
                                        <label for="e-mail">E-mail</label>
                                        <input class="form-control" type="email" id="e-mail" placeholder="e.g queens@gmail.com" required="" name="secretary[email]">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNo"> phone number</label>
                                        <input class="form-control" type="tel" id="phoneNo" required="" name="secretary[phone]" >
                                    </div>
                                    <div class="form-group">
                                        <label for="valid id" >Select ID </label>
                                        <select class=" form-control" id="valid id" name="secretary[idType]">
                                            <option>Select</option>
                                            <option value="National ID">National ID</option>
                                            <option value="Internaional Passport">Internaional Passport</option>
                                            <option value="Driver's License">Driver's License</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload ID</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload Passport Photograph</label>
                                        <input class="form-control" type="file" accept="image/*" name="image">
                                    </div>

                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
    </main>

    <!--compand & appointment of company registration end-->

       <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Google analytics script-->
    <script type="text/javascript">
      if(document.location.hostname == 'pratikborsadiya.in') {
      	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-72504830-1', 'auto');
      	ga('send', 'pageview');
      }
    </script>
  </body>
</html>