<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>deLAW</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v2.2.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <style>
        .alert p {
          text-align: center;
        }

        #hero h2 {
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 50px;
            font-size: 18px;}
        #header .logo {
            text-transform: none;
        }

        .section-title h2 {
            font-size: 32px;
            font-weight: bold;
            text-transform: none;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: #37517e;}
        #company {font-weight: 900}
        #hero{
            width: 100% !important;
            background-image: url("lawyer.jpg") !important;
        }
        #hero .hero-img img {Margin-left: 100px}
        .about {font-family: Roboto}
        #hero h1 {
            font-size: 28px;
            line-height: 30px;
        margin-left: 10px}
        .align-items-stretch {margin: auto}
        .col-lg-12 p {text-align:center; font-size:21px }
        .corevalues h4 {text-align: center;margin-top: 20px}
        .portfolio .portfolio-item .portfolio-img img {height: 242px; width:322px }

    </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">deLAW</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Properties</a></li>
          <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <% if(currentUser) { %>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/user_login">Sign In</a></li>
            <% } %>
            <li><a href="/user_signup">Sign Up</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="https://wa.me/2349079100063" class="get-started-btn scrollto"> ENGAGE A LAWYER</a>

    </div>
    <div class="container-fluid">
      <% if(message && message.length > 0){ %>
      <div class="alert alert-danger" role="alert">
            <p><%= message %></p>
      </div>
      <% } %>
      <% if(logout && logout.length > 0) { %>
      <div class="alert alert-warning" role="alert">
            <p><%= logout %>. Thank you for visiting our site</p>
      </div>
      <% } %>
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
            <p><%= error %></p>
      </div>
      <% } %>
      <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
            <p><%= success %></p>
      </div>
      <% } %>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1> Your complete legal package</h1>
          <h2> we offer you the best legal services with just a CLICK!</h2>
          <div class="d-lg-flex">
            <a href="https://wa.me/2349079100063" class="btn-get-started scrollto">ENGAGE A LAWYER </a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

          <div class="col-lg-12">
            <p>
             <span id="company"> deLAW</span>  is a one-stop legal platform that offers seamless services in Corporate, Family, Intellectual
                and Real-Estate Law. We have recorded years of long standing history of quality service, client satisfaction and
                awesome job delivery .
                Our core values include;
            </p>
              </div>
            <div class="row corevalues">
              <div class="col-lg-4"> <h4> SERVICE</h4>
                  <img style="margin-left: 30%" src="assets/img/CV2.png"></div>
              <div class="col-lg-4" > <h4>INTEGRITY </h4>
                  <img style="margin-left: 30%" src="assets/img/CV3.png">
              </div>
                <div class="col-lg-4"> <h4>Diligence </h4>
                    <img style="margin-left: 30%" src="assets/img/CV4.png">
                </div>
            </div>


      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->

    <!-- ======= Skills Section ======= -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What we Provide</h2>
          <p>deLAW listen to your legal needs and provide you with personalized services that fits your legal demands.
              Our services includes registering your company with ease, securing your future wishes with wills and testament,
              and other general legal backup. We are your personal Lawyer!</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="/company">Company Registrations</a></h4>
              <p>Get your company registered with the Corporate Affair Commision.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-building-house"></i></div>
              <h4><a href="#contact">Real estate management</a></h4>
              <p>Buy, Rent and lease verified properties at deLaW.<br><br></p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-folder-open"></i></div>
              <h4><a href="/will">Will and Testament</a></h4>
              <p>Prepare for the future, secure your assets with us.<br><br></p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="#contact">General legal Consultations</a></h4>
              <p>Never get mad, call a lawyer.<br><br><br></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Why deLAW?</h3>
            <p> "The good lawyer is not the man who has an eye to every side and angle of contingency,
                and qualifies all his qualifications,but who throws himself on your part so heartily,
                that he can get you out of a scrape."</p>
              <p style="font-weight: bold">- Ralph Waldo Emerson -</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
              <a class=" cta-btn align-middle" href="tel:903-481-7340" style=" background-color: rgba(0,0,0,0.1);
             color: white ">
                  <i class="bx bx-phone"></i> <span class="glyphicon glyphicon-earphone"></span>Call deLAW
              </a>
          </div>
        </div>

      </div>

      <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="color: cornsilk;">Team</h2>
          <p>Meet our able Team.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Oluwatomilola Fadeyibi</h4>
                <span>Partner</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Olalekan A. Fadeyibi</h4>
                <span>Principal Partner</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Toluwase Ogundeji</h4>
                <span>Ad-hoc Partner</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->




    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>deLAW Properties</h2>
          <p>Buy, lease and Rent verified properties in Nigeria. </p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Buy</li>
          <li data-filter=".filter-card">Rent</li>
          <li data-filter=".filter-web">Lease</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Flats in Estates</h4>
              <p>Flats</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Flats"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Lands</h4>
              <p>Fallow Land</p>
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Lands"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Lands</h4>
              <p>Industrial</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Lands"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Lands</h4>
              <p>Parks/Garden</p>
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Lands"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Malls</h4>
              <p>Shopping Malls</p>
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Malls"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Suites</h4>
              <p>Hubs</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Suites"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Duplexes</h4>
              <p>Commercial/Residential</p>
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Duplexes"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Suites</h4>
              <p>Offices</p>
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Suites"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Malls</h4>
              <p>Metro</p>
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Malls"><i class="bx bx-plus"></i></a>
              <a href="https://wa.me/2349079100063" class="details-link" title="contact us"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We provide 24/7 legal services and representation around the globe.
              Tell us your legal needs and we will respond to you in few minutes. </p>
        </div>



          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="#" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" placeholder="Full Name" />
                  <div class="validate"></div>
                </div>
                  <div class="form-group col-md-6">
                  <label for="phone number">Your mobile number</label>
                  <input type="text" name="name" class="form-control" id="phone number" data-rule="minlen:4" data-msg="Please enter at least 4 chars" placeholder="(+234) 8X XXX XXX" />
                  <div class="validate"></div>
              </div>
                  <div class="form-group col-md-6">
                      <label for="name">Select a Category</label>
                      <select name="category" id="name" class="form-control">
                          <option value="Select">Select</option>
                          <option value="Legal">Corporate Registration</option>
                          <option value="Legal">Will and Testament</option>
                          <option value="Legal">Real Estate</option>
                          <option value="Legal">General legal Services</option>
                          <option value="Legal">Others</option>
                      </select>
                      <!--<input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
                      <div class="validate"></div>
                  </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" placeholder="delaw@email.com"/>
                  <div class="validate"></div>
                </div>
              </div>

              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our letter to be well vast about the legal system around the country.</p>
            <form action="#" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>DeLAW</h3>
            <p>
              Bernard Street, bashorun <br>
              Ibadan, IB 535022<br>
              Oyo State <br><br>
              <strong>Phone:</strong> +234 XXX XXX XX<br>
              <strong>Email:</strong> delaw@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Properties</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Corporate Registration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Will and Testamentt</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Real Estate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">General Consultation</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>We are Everywhere. Connect with us via social media.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>deLAW</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">WEBeasts</a>
      </div>
    </div>

      </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>