<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User Login</title>

      <style>
          .login-content{
              background-color: #F4F6F8;
              color: #34495E;
          }

          /*.login-content .logo{*/
              /*color: #007bff;*/
              /*font-family: roboto!important;*/
              /*font-size: small;*/
          /*}*/

          .alert p {
            text-align: center;
          }

         .login-content .logo h1{
              color:  #34495E;
              font-family: BlinkMacSystemFont;
             font-size: 25px!important;
             font-weight: bold;
          }

          input{
              border-color: #34495E!important;
              font-family: time news roman;
          }

          a{
              color: #34495E;
          }

          .btn-primary{
              background-color: #34495E;
              border-color: #34495E;

          }

          .btn-primary:hover{
              color:black;
              background-color: #34495E;
              border-color: #34495E;

          }

          a:hover{
              color:black;
                     }

          .animated-checkbox input[type="checkbox"]:checked + .label-text:before {
              color:#34495E;
          }
      </style>

  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="container-fluid">
        <% if(message && message.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= message %></p>
        </div>
        <% } %>
        <% if(logout && logout.length > 0) { %>
        <div class="alert alert-warning" role="alert">
              <p><%= logout %>. Thank you for visiting our site</p>
        </div>
        <% } %>
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
              <p><%= success %></p>
        </div>
        <% } %>
      </div>
      <div class="logo">
       <span><a href="delaw%20sign%20in%20icon_files"></a> <h1>Optimal Legalpreneurs</h1></span>
      </div>
      <div class="login-box">
        <form class="login-form" action="/user_login" method="POST">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
          <div class="form-group">
            <label class="control-label">USERNAME</label>
            <input class="form-control" type="text" placeholder="Email" name="username" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">PASSWORD</label>
            <input class="form-control" type="password" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
                <label>
                  <input type="checkbox"><span class="label-text">Stay Signed in</span>
                </label>
              </div>
              <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
            </div>
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
          </div>
        </form>
        <form class="forget-form" action="/forgot" method="POST">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>FORGOT PASSWORD</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="email" placeholder="Email" name="email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RETRIEVE</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>
      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>