<%- include('partials/header'); -%>

<main id="main">


    <!-- ======= Form Section ======= -->
    <section class="contact section-bg">
        
            <div class="section-title" data-aos="fade-up">
                <h2>Payment Page</h2>
            </div>

                <div  data-aos="fade-up">
                    <h4 style="text-align: center;"><a href="#" ><button class="btn btn-primary">Make Payment</button></a></h4>

                </div>

    </section><!-- End form Section -->

</main><!-- End #main -->


<%- include('partials/footer'); -%>
